@model Portfolio.Web.Models.TriviaQuestionsViewModel
@{
	Layout = "_Layout";
}

<div class="d-flex justify-content-around my-4">
	<h3>Source: <a href="https://opentdb.com/api_config.php" target="_blank">Open Trivia</a></h3>
	<h3>Referrer: <a href="https://github.com/public-apis/public-apis#games--comics" target="_blank">Public APIs</a></h3>
</div>

<table id="triviaQuestionsTable" class="fs-5 table table-hover table-striped">
	<colgroup>
		<col style="width:30%;" />
		<col style="width:15%;" />
		<col style="width:55%;" />
	</colgroup>
	<thead>
		<tr>
			<th>Category</th>
			<th>Difficulty</th>
			<th>Question</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th class="ps-0">
				<select id="trivia-category" class="form-control" asp-items="@Model.Categories">
				</select>
			</th>
			<th class="ps-0">
				<select id="trivia-difficulty" class="form-control" asp-items="@Model.Difficulties">
				</select>
			</th>
		</tr>
	</tfoot>
</table>
<i class="mt-2">Note: Later more interactivity can be added, if required.</i>

@section Scripts{
	<script src="~/js/trivia-questions.js"></script>
}
