@{
    Layout = "_Layout";
}
<h1>Please enter a salary number</h1>

<form class="mt-5 mb-5">
    <label for="salarySlider" class="fs-5 form-label">Example range (10 Lakh - 1 Crore)</label>
    <div class="d-flex">
        <div class="col-2 me-3">
            <input id="salaryInput" type="number" class="form-control fs-5" step="50000"
                   min="2000000" max="8000000" value="5000000" />
        </div>
        <div class="col-10 align-self-center">
            <input id="salarySlider" type="range" class="form-range" step="20000"
                   min="2000000" max="8000000" value="5000000" />
        </div>
    </div>
</form>

<table id="salaryBifurcation" class="table fs-4 table-hover">
    <thead>
        <tr>
            <th scope="col" class="w-50">Component</th>
            <th scope="col" class="w-25">Yearly</th>
            <th scope="col">Monthly</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Gross Salary</th>
            <td id="grossYearly"></td>
            <td id="grossMonthly"></td>
        </tr>
        <tr>
            <th scope="row">Basic Salary</th>
            <td id="basicYearly"></td>
            <td id="basicMonthly"></td>
        </tr>
        <tr>
            <th scope="row">Employee's PF</th>
            <td id="pfYearly"></td>
            <td id="pfMonthly"></td>
        </tr>
        <tr>
            <th scope="row">Tax Deducted at Source (TDS)</th>
            <td id="tdsYearly"></td>
            <td id="tdsMonthly"></td>
        </tr>
        <tr>
            <th scope="row">After Tax Income</th>
            <td id="incomeYearly"></td>
            <td id="incomeMonthly"></td>
        </tr>
    </tbody>
</table>

<i class="mt-2">Note: These calculations are approximate.</i>

@section Scripts{
    <script src="~/js/salary-calculator.js" type="module"></script>
}