@model Portfolio.Web.Models.FrontPageViewModel
@{
    Layout = "_Layout";
}

<partial name="_AddTask" model="Model.TodoInput" />
<style>
    label {
        transition: color 0.3s ease, opacity 0.3s ease; /* Add transition for color and opacity */
    }

    input[type=checkbox]:checked + label.strikethrough {
        text-decoration: line-through; /* Apply line-through effect */
        color: rgba(0, 0, 0, 0.5); /* Change color with reduced opacity (fade effect) */
        opacity: 0.5; /* Adjust the opacity to create a fade effect */
    }
</style>
<div>
    <h3>Todo List</h3>
    @{
        if (Model.Todos is not null)
        {
            foreach (var todo in Model.Todos)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="@todo.UUID">
                    <label class="form-check-label strikethrough" for="@todo.UUID">
                        @todo.Title
                    </label>
                </div>
            }
        }
        else
        {
            <div>No todos found</div>
        }
    }
</div>
