@model Portfolio.Web.Models.FrontPageViewModel
@{
    Layout = "_Layout";
    var count = 1;
}

<partial name="_AddTask" model="Model.TodoInput"/>

<div>
    <h3>Todo List</h3>
    @foreach(var todo in Model.Todos)
    {
        <div>@(count++). @todo.Title</div>
    }
</div>
